.post {
  border-radius: 8px;
  box-shadow: 0 2px 4px #00000029, 0 4px 8px #0000001a, 0 8px 16px #00000012, 0 16px 32px #0000000d;
}

.post__toggle {
  width: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-width: 0;
}

.post__inner-wrapper {
  flex: 1;
}

.post__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border: 1px solid var(--c-grey);
  border-bottom-width: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--c-white);
  
  header {
    line-height: 1;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 1;
  }
}

.post__main.post--replied-to {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.post--created-at {
  font-size: 14px;
  color: var(--c-grey);
}

.post__reply-button {
  align-items: center;
  gap: 2px;
  padding: 4px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--c-grey);

  .icon {
    width: 18px;
    height: 18px;
    fill: var(--c-grey);
  }
}

.post--collapsed {
  align-items: center;
  width: 100%;
  padding-left: 8px;
}

.post--is-reply {
  background: var(--c-white);
  border: 1px solid var(--c-grey);
  border-bottom: none;
  border-right: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.post__expand-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0;
  padding-bottom: 3px;
  border: 1px solid var(--c-grey);
  border-radius: 12px;
}

.post--collapsed__header {
  padding: 8px;
}

.post--collapsed__label {
  font-size: 14px;
  font-weight: 400;
  color: var(--c-grey);
}