.page-header {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: var(--c-white);
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--c-primary);
}

.page-header__site-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;

  .icon {
    position: relative;
    right: -4px;
    top: -2px;
    min-width: 26px;
    min-height: 26px;
    transform: scaleX(-1);
  }
}

.page-header__nav {
  display: flex;

  a {
    display: flex;
    gap: 2px;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 100;
    color: var(--c-primary-muted);
    background-color: var(--c-white);
    border-left: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    .icon {
      width: 20px;
      fill: var(--c-primary-muted);
    }
  }

  a:first-child {
    border-left: 0;
  }

  a:hover {
    background-color: var(--c-grey-pale);
  }
}

.page-header__nav-label {
  display: none;

  @media (min-width: 500px) {
    display: inline;
  }
}