@keyframes reply-new-grow-in {
  from { max-height: 0; }
  to { max-height: 4rem; }
}

@keyframes reply-new-shrink-out {
  from { max-height: 4rem; }
  to { max-height: 0; }
}

#reply-new-wrapper {
  position: relative;
  overflow: hidden;

  .multiline-input {
    border-top-left-radius: 0;
    border-top: 0;
  }

  .multiline-submit {
    border-top-right-radius: 0;
    border-top: 0;
  }
}

#reply-new-form {
  width: 100%;
  padding: 0;
}

.reply-new-grow {
  animation: reply-new-grow-in 0.6s;
}

.reply-new-shrink {
  animation: reply-new-shrink-out 0.2s forwards;
}