#log-in {
  display: flex;
}

.log-in-container {
  #log-in-controls {
    flex: 1 0 auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right-width: 0;
  }

  #log-in-submit {
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.sign-up-container {
  flex-direction: column;

  #log-in-controls {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-width: 0;
  }
  #log-in-submit {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

#log-in-controls {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #777;
}

.log-in-control-couplet {
  display: flex;
  gap: 8px;
}

.log-in-control {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
  }
}

.log-in-label {
  font-size: 0.875rem;
}

#log-in-submit {
  flex: 0.5 0 auto;
  min-height: 100%;
  min-width: 100px;
  background-color: #fff;
  border: 1px solid #777;
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#log-in-submit:disabled {
  color: #878787;
  background-color: #f9f9f9;
  border-color: #555;
  cursor: auto;
}