.log-in-container {
  #log-in-controls {
    flex: 1 0 auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right-width: 0;
  }

  #log-in-submit {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.sign-up-container {
  display: flex;
  flex-direction: column;

  .log-in-control-couplet {
    flex-direction: column;

    @media (min-width: 430px) {
      flex-direction: row;
    }
  }
  #log-in-controls {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-width: 0;
  }
  #log-in-submit {
    height: 48px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

#log-in-controls {
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #777;
}

.log-in-control-couplet {
  display: flex;
  gap: 8px;
}

.log-in-control {
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
  }
}

.log-in-label {
  font-size: 0.875rem;
}

#log-in-submit {
  flex: 0.5 0 auto;
  min-height: 100%;
  min-width: 100px;
}