.log-in {
  .log-in__controls {
    flex: 1 0 auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right-width: 0;
  }

  .log-in__submit {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.log-in--sign-up {
  display: flex;
  flex-direction: column;

  .log-in__control-couplet {
    flex-direction: column;

    @media (min-width: 430px) {
      flex-direction: row;
    }
  }
  .log-in__controls {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-width: 0;
  }
  .log-in__submit {
    height: 52px;
    min-height: unset;
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.log-in__controls {
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  background-color: var(--c-white);
  border: 1px solid var(--c-grey);
}

.log-in__control-couplet {
  display: flex;
  gap: 8px;
}

.log-in__control {
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
  }
}

.log-in__label {
  font-size: 0.875rem;
}

.log-in__submit {
  flex: 0.5 0 auto;
  min-height: 100%;
  min-width: 100px;
  width: min-content;
}